body
{
    background-image: url("olive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poor Richard";
}
.main{
    min-height: 95%;
    background-color: ghostwhite;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 100%;

}
#element{
    padding-top: 1em;
    padding-bottom: 1em;
}

#test
{
    max-width: 0px;
}
.table td
{
    border: none;
    border-bottom: 1px solid;
}
.table tr
{
    border-bottom: 1px black;
}
.table table
{
    border: none;
    border-top: 1px black solid;
}
.table
{border-top: 1px black solid;}



.swipe {
    background: rgba(250,235,215,0.7);

    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding-left: 2%;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    position: relative;
    overflow: hidden;
}
.bunt
{
    background: deepskyblue;
;
}