body
{
    background-image: url("olive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poor Richard";
}
.main{
    min-height: 95%;
    background-color: ghostwhite;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 100%;

}
.element{
    padding-top: 1em;
    padding-bottom: 1em;
}
#kat0
{
    background-color: greenyellow;
}
#kat1
{
    background-color: gold;
    display: none;
}
#kat2
{
    background-color: blueviolet;
    display: none;
}
#kat3
{
    background-color: wheat;
    display: none;
}
#test
{
    max-width: 0px;
}
.table
{
    border: none;
}